.wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    background-color: #EFEFEF;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 100px [col-start]);
    grid-template-rows: repeat(4, 30px [row-start]);
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
}

.color-label {
    text-align: center;
    color: #EFEFEF;
    font-family: 'Eudoxus Sans';
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 0.5px #202020;
    -moz-text-stroke: 0.5px #202020;
    height: 30px;
    width: 100px;
}